<!-- Button trigger modal -->
<div class="row">
  <button
    type="button"
    class="btn btn-primary m-2"
    data-toggle="modal"
    data-target="#addUser"
  >
    <ion-icon class="" name="person-add"></ion-icon> Create User
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserLabel">Create New User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addUserForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input
                  [class.is-invalid]="
                    (addUserForm.get('firstname').touched || submitted) &&
                    addUserForm.get('firstname').errors?.required
                  "
                  type="text"
                  class="form-control"
                  id="firstname"
                  formControlName="firstname"
                  aria-describedby="makeErr"
                  placeholder="Joe"
                />
                <span
                  *ngIf="
                    (addUserForm.get('firstname').touched || submitted) &&
                    addUserForm.get('firstname').errors?.required
                  "
                  id="makeErr"
                  class="error"
                  >Please enter user first name.</span
                >
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Last Name</label>
              <input
                [class.is-invalid]="
                  (addUserForm.get('lastname').touched || submitted) &&
                  addUserForm.get('lastname').errors?.required
                "
                type="text"
                class="form-control"
                name="lastname"
                id="lastname"
                formControlName="lastname"
                placeholder="Smith"
              />
              <span
                *ngIf="
                  (addUserForm.get('lastname').touched || submitted) &&
                  addUserForm.get('lastname').errors?.required
                "
                id="makeErr"
                class="error"
                >Please enter user last name.</span
              >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputUsername">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                formControlName="username"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputPassword4">Password</label>
              <div class="input-group mb-3">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Password"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="switch1"
                      />
                      <label class="custom-control-label" for="switch1"
                        >Generate</label
                      >
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Email</label>
              <input
                [class.is-invalid]="
                  (addUserForm.get('email').touched || submitted) &&
                  addUserForm.get('email').errors?.required
                "
                type="email"
                formControlName="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Email"
              />
              <span
                *ngIf="
                  (addUserForm.get('email').touched || submitted) &&
                  addUserForm.get('email').errors?.required
                "
                id="makeErr"
                class="error"
                >Please enter user email address</span
              >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="phonenumber">Phone Number</label>
              <input
                class="form-control"
                formControlName="phonenumber"
                type="phone"
                name="phonenumber"
                id="phonenumber"
                placeholder="999-999-9999"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="role">Role</label>
              <select class="form-control" id="role" formControlName="role">
                <option value="" disabled>Choose user role</option>
                <option value="basic">Basic </option>
                <option value="supervisor">Supervisor</option>
                <option value="admin">Admin</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" />
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>

          <button (click)="clickAddUser()" class="btn btn-primary">
            Create User
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Users List</h5>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Role</th>
              <th scope="col">Created</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users[0]; let index = index;;">
              <th scope="row">{{ user._id }}</th>
              <td>{{ user.firstname | titlecase }}</td>
              <td>{{ user.lastname | titlecase }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phonenumber }}</td>
              <td>{{ user.role | titlecase }}</td>
              <td>{{ user.createdAt | date: "MM/dd/yy" }}</td>
              <td>
                <ion-icon
                  class="ion-icon btn"
                  name="create"
                  (click)="openEditEmployee(index)"
                ></ion-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
