<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <a
          class="align-items-center btn btn-primary text-white"
          (click)="openCreateEmployee()"
        >
          <ion-icon class="mr-2" name="person-add"></ion-icon>Create Employee
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Employees List</h5>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Address</th>
              <th scope="col">Company</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employees; let index = index;;">
              <th scope="row">{{ emp.id }}</th>
              <td>{{ emp.name }}</td>
              <td>{{ emp.email }}</td>
              <td>{{ emp.phone }}</td>
              <td>
                {{ emp.address.city }}, {{ emp.address.street }}
              </td>
              <td>{{ emp.company.name }}</td>
              <td><ion-icon class="ion-icon btn" name="create" (click)="openEditEmployee(index)"></ion-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
